body{
    background: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about{
    background : rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(255, 255, 255));
    padding: 10px;
    color:rgb(0, 0, 0);

}   
button{
    background: linear-gradient(white,rgb(0, 0, 0));
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
    text-decoration: none;
    border-radius: 15px;    
}