{% extends 'base.html' %}
{% block title %}
<title>Нова стаття - LogikaBlog</title>    
{% endblock title %}
{% block content %}
    
<main class="container py-5 ">
    {%include "alerts.html"%}
    <h1 class="text-center mb-5">Нова стаття</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="articleTitle" class="mb-2">Назва статті</label>
            <input type="text" class="form-control" name="title" id="articleTitle" required>
        </div>
        <div class="mb-3">
            <label for="articleText" class="mb-2">Текст статті</label>
            <!-- <input type="text" class="form-control" name="articleTitle" id="article_name"> -->
            <textarea name="content" class="form-control" id="articleText" rows="5" cols="6" id="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="articleImage" class="mb-2">Картинка до статті</label>
            <!-- <input type="text" class="form-control" name="articleTitle" id="article_name"> -->
            <input class="form-control" id="articleImage" type="file" name="image" required>
        </div>
        <div class="mb-3">
            <select name="category" class="form-select" aria-label="Виберіть категорію">
                {% for category in categories  %}
                <option value="{{category[0]}}">{{ category[1] }}</option>
            {% endfor %}
              </select>
        </div>

        <button type="submit" class="btn btn-light">Зберегти</button>


    </form>


{% endblock content %}